h2 {
  text-align: center;
}

.posts-menu {
  padding: 10px;
  margin: auto 0;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  display: table;
}

img {
  max-width: 500px;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}