<div class="form-container">
<div class="create">
  <h2>Create Post</h2>
  <div class="row">
      <label for="new-post-content">Post Content</label>
      <input id="new-post-content" #postContent />
  </div>

  <div class="row">
      <label for="new-post-photoUrl">Post Photo Url</label>
      <input id="new-post-photoUrl" #postphotoUrl />
  </div>

  <button type="button" class="add-button" (click)="add(postContent.value, postphotoUrl.value); postContent.value='';postphotoUrl.value=''">
    Add post
  </button>
</div>